@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  ---blue: hsl(248, 32%, 49%);
  --zinc200: hsl(249, 10%, 26%);
  --zinc100: hsl(246, 25%, 77%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--red);
  background-image: url('../images/bg-intro-mobile.png');
}