.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 2rem;
  max-width: 600px;
}

.text-container {
  opacity: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  padding-top: 3rem;
  transform: translateX(-1000px);
  animation: slide 300ms forwards;
}

@keyframes slide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-container h1 {
  font-weight: 600;
}

.try-it {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(---blue);
  border-radius: 1rem;
  color: white;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.5);
}

.try-it p {
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  max-width: 200px;
}

.try-it p strong {
  font-weight: 700;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  opacity: 0;
  animation: show ease-in 400ms forwards;
}

.form {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: 2rem;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.form input {
  width: 100%;
  height: 60px;
  border-radius: 1rem;
  outline: none;
  border: 2px solid var(--zinc100);
  padding: 0 2rem;
}

.form input.active {
  border: 2px solid var(--red);
}

.form input::placeholder {
  font-weight: 700;
}

.form input:focus{
  border: 2px solid var(--zinc200);
}

.input-group {
  position: relative;
}


.invalid {
  display: none;
}

input.active + .invalid {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* .invalid.active {
  display: flex; 
} */

.invalid span {
  font-size: 1.4rem;
  color: var(--red);
}

.invalid img{
  top: 20px;
  right: 20px;
  position: absolute;
  width: 20px;
}

.form .btn {
  width: 100%;
  height: 60px;
  background-color: var(--green);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-style: 700;
  box-shadow: 1px 3px 4px rgba(24, 245, 142, 0.5);
  cursor: pointer;
  transition: 500ms;
}

.form .btn:hover {
  opacity: 0.7;
}

.form .terms {
  width: 100%;
  text-align: center;
  color: var(--zinc100);
}

.form .terms span {
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
}

.form .terms span:hover {
  opacity: 0.8;
}

@media (min-width: 1200px) {
  .container {
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   max-width: 1440px;
   padding: 0;
  }

  .form {
    max-width: 600px;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    max-width: 400px;
  }
}